<html>
  <head>
    <title>Edit Gossip</title>
  </head>  
  <body>
    <h1>Edit Gossip</h1>
    <p>Modifie ton gossip en remplissant la ligne de texte ci-dessous</p>
    <form action='/gossips/<%= params['id'] %>/edit/' method='POST'>
    Balance ton potin : <input type='text' name='new_content'/><br/>
    <input type='submit'/>
  </form>
  </body>
</html>    