# <html>
#   <head>
#     <title>Edit Gossip</title>
#   </head>  
#   <body>
#     <h1>Edit Gossip</h1>
    
#     <form action="/gossips/<%= @gossip.id %>/edit" method="post">
#       <label for="content">Content :</label>
#       <textarea name="content" id="content"><%= @gossip.content %></textarea>

#     <input type="submit" value="Update Gossip">
#     </form>
#   </body>
# </html>    