<html>
  <head>
  <title>Gossip Page</title>
  </head>
  <body>
    <h1>GOSSIP PAGE</h1>
    <p>Voici la page du potin n°<%= params["id"] %></p>
    <p>Son auteur : <%= gossip&.author %></p>
    <p>Le contenu du potin : <%= gossip&.content %></p>
    <a href="/gossips/<%= params['id'] %>/edit/">Editer le gossip</a><br/>
    <a href="/">Home</a>
  </body>
</html>  
